@charset "UTF-8"
    @import url('https://fonts.googleapis.com/css2? family = Imperial + Script & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
        font-family: 'idroid';
        src: url('fontes/idroid.otf') format('opentype'); 
        font-weight: normal;
        }
       
       
        :root{
            --cor1:#c5ebd6;
            --cor2:#83e1ad;
            --cor3:#3ddc84;
           --cor4:#2fa866;
           --cor5:#1a5c37;
            --cor6:#063d1e;
            --fonte1: 'idroid', 'Arial', 'verdana';
            --fonte2: 'Bebas Neue', Arial, verdana;
        }
        *{
            margin: 0px;
            padding: 0px;
            
        }
body{
    background-color: var(--cor1);
    
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
   
}
header a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav > ul {
    
    display: flex;
    list-style: none; 
    gap: 50px; 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    margin-bottom: -18px;
    
    
}

header > h1{
  
    color: white;
   
font-family: var(--fonte2);
margin-bottom: 30px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);
font-weight: normal

}
header > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);
}

nav{
    padding: 30px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.452);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    
}


a:hover{
    background:#3ddc84;
    color: var(--cor6);
    transition-duration: 0.5s;
    
}
.video{
    background-color: var(--cor6);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
main{
 
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 790px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    border-bottom-left-radius:  10px; 
    border-bottom-right-radius: 10px;
    
}
.video > iframe{
position: absolute;
top: 5% ;
left: 5% ;
width: 90%;
height: 90%;
}
main > img{
    width: 100%;
    
    
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte1);

}
main h2{
    font-family: var(--fonte1);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 8px;
    font-weight: normal
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 8px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
aside h3{
    background-color: var(--cor5);
    padding: 10px;
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside{
background-color: var(--cor2);
padding: 10px;
border-radius: 10px;
box-shadow: 3px 3px 8px  rgba(0, 0, 0, 0.404);
}
aside ul{
    list-style-type: 	'\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
